
label {
  font-size: 1.2em; 
  font-weight: bold;
  color: #333; 
  margin-bottom: 0.5em; 
  display: block; 
}


.select-divs select {
  width: 100%; 
  padding: 0.5em; 
  margin-bottom: 1em; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: #fff; 
  color: #333; 
  font-size: 1em;  
}

.button-btn {
 border-radius: 10px;
 margin: 20px 0 20px 0; 
 margin: 40px;
}

.paraContent {
  margin: 3px 0 3px 0; 
  margin: 30px;
}